@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Kalam', cursive;
}

#canvas {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

.container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container .diwali {
  margin-top: 10%;
  color: white;
}

.diwali > h1 {
  font-size: 120px;
  visibility: hidden;
  -webkit-animation: fade-in 2s linear 2s forwards;
  animation: fade-in 2s linear 2s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .diwali > h1 {
    font-size: 72px;
  }
}

@media (max-width: 360px) {
  .diwali > h1 {
    font-size: 48px;
  }
}
